body{
    margin: 0;
    padding: 0;
}
/* a.i.fa .fa-plus-circle::before{
    content: "/f055";
}
::before {
    color: rgb(116, 231, 21);
} */
.wrapper{
    /* border: 1px solid #000; */
    height: auto;
    width: 100%;
    margin: 0 auto;
}
.wrapper_chitiet{
    height: auto;
    width: 60%;
    margin: 0 auto;
}
.wrapper_chitiet .hinhanh_sanpham{
    float: left;
    width: 40%;
}
.wrapper_chitiet .chitiet_sanpham{
    float: right;
    width: 50%;
    margin: 0 20px;
}
.wrapper_chitiet .chitiet_sanpham .addcart{
border: none;
background: #e2abcf;
color: #fff;
padding: 12px;
font-size: 15px;
cursor: pointer;
}
.header{
    /* border: 1px solid #000; */
    height: 130px;
    width: 100%;
    /* background-color:#e2abcf; */
    margin-top: -16px;
    /* background-image: url("../img/banner4.jpg"); */
}
.header .logo{
  position: relative;
bottom: 90px;


width: 250px;
}

.menu{
    /* border: 1px solid #000; */
    height: 50px;
width: 100%;
/* background-color:#e2abcf; */
}
ul.list_menu{
    padding: 0;
    margin: 0;
    width: 60%;
    /* border: 1px solid; */
    list-style: none;
    /* margin: 0 auto; */
    margin-left: 455px;
    color: #000000;
    line-height: 26px;
}
ul.list_menu li{
    float:left ;
    margin: 7px;
    padding: 5px;
}
/* ul.list_menu{
    padding: 0;
    margin: 0;
    width: 60%; */
    /* border: 1px solid; */
    /* list-style: none;
    margin: 0 auto;
} */
/* .menu .list_menu{
    padding: 0;
    margin: 0;
    list-style: none;
width: 30%;
margin: 0 auto;
font-size: 16px;

} */

/* .menu .list_menu li{
float: left;
margin: 10px;
padding: 3px;
/* border: 1px solid #ff80aa;
background-color: #ff80aa; */
/* cursor: pointer;

} */ 
ul.list_menu li:hover {
    background: rgb(252, 204, 212);
}
.menu .list_menu li a{
    text-decoration: none;
    text-align: right;
    color: #000;
    /* color:#fff; */
    font-size: 16px;

    font-family: Times New Roman, 'Times New Roman', Times, serif;
}
.main{
    /* border: 1px solid #000; */
    height: auto;
width: 100%;
}
.content-main{
     /* border: 1px solid #000; */
     height: 390px;
width: 79%;
float: right;
margin-top: 5px;
margin-left: 5px;
}  
.content-main .product_list {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
}
.content-main .product_list .title_product{
    text-align: center;
    color: #000000;
    font-size: 17px;
    font-weight: normal;
}
.content-main .product_list .price_product{
    text-align: center;
    color: #000000;
    font-size: 18px ;
    font-weight: bold;
}
.content-main .product_list li{
    width: 15%;
    float: left;
    margin: 5px;
    height: 300px;
    /* border: 1px solid #ddd; */
}
.content-main .product_list li a{
    text-decoration: none;
}
.content-main .product_list li img {
    height: 160px;
    float: 80px;
    margin-right: 20px;
}
.sidebar {
    /* border: 1px solid #000; */
    height: 520px;
    width: 20%;
    margin-top: 54px;
    margin-left: 3px;
    float: left;
}
/* .maincontent{
    border: 1px solid #000;
} */
.content-main{
    /* border: 1px solid #000; */
    height: auto;
width: 79%;
float: right;
margin-top: 5px;
margin-left: 5px;
}  
ul.list_sidebar{   
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 16px;
    list-style: none;
    line-height: 27px;
}
ul.list_sidebar li{
/* float: left; */
margin: 7px;
padding: 5px;

cursor: pointer;
}
ul.list_sidebar li:hover{
    background: #e6bfdb;
    width: 90%;
  transition: all 0.1s;
 
}
ul.list_sidebar li a{
    text-decoration: none;
    text-align: left;
    color: #000000;
    display: block;  
}
.footer{
    border: 1px solid #000;
    height: 150px;
width: 100%;
}
.clear{
    clear: both;
}
.hinhanh_sanpham{
    float: left;
    width: 50%;
    border: 1px solid #ddd;
}
.chitiet_sanpham{
    float: left;
    width: 49%;
    margin: 0 20px;
}

